body {
    margin: 0;
    padding: none;
    overflow: hidden;
}
body h5, body h6 {
    font-weight: 400;
}
.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }
div.emscripten_border { border: none; }
canvas.emscripten { border: 0px none; background-color: black }
padding: 8px 14px; font-size:14px; background-color:#eee; color:#222 }
a { text-decoration: none; user-select: none }
a:hover { text-decoration: none }
#loading {
    display: block;
    opacity: 1;
    transition: all 0.3s ease;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 10000;
    background-color: #eee;
    color: #222;
    text-align:center;
}
#loading div {
    position:absolute;
    left:50%;
    top: 50%;
    font-size: 3em;
    transform: translate(-50%, -70%);
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow:hidden;
}
/* HEADER (navbar) */
#header .navbar-brand ion-icon {
    padding: 0 0.5em;
}
#header a { color: #555; }
#header a.active { color: #007bff; }
#header a:hover { color: #777; }
#header a.active:hover { color: #007bff; }
#header a ion-icon {
    position:relative;
    top: 2px;
}
/* TERMINAL */
#shell {
    position:fixed;
    top: 5em;
    left:2%;
    padding: 1em;
    width: 96%;
    z-index:10000;
    display:none;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow:auto;
}
#shell-close {
    position:fixed;
    border-radius: 5px;
    top:5em;
    right:2%;
    padding:1px;
}
/* IMPORT */
#import-file-dropdown {
    min-width: 350px;
    padding: 0.5em;
}
#import-file-dropdown .custom-file {
    overflow:hidden;
}
#import-error {
    color: #c88;
}
/* SIDEBAR */
#sidebar {
    background: #fff;
    min-width: 250px;
    width: 30%;
    max-width: 40%;
    padding: 0;
}
#sidebar-dragger {
    min-width: 6px;
    max-width: 6px;
    cursor: ew-resize;
    background: #eee;
    transition: background 1s ease;
}
#sidebar-dragger.minimize {
    min-width: 12px;
    max-width: 12px;
    background: #dfdfdf;
}
#sidebar-dragger #sidebar-dragger-label {
    display:none;
}
#sidebar-dragger.minimize #sidebar-dragger-label {
    display:block;
    text-align: center;
    vertical-align: middle;
    overflow:hidden;
    position:absolute;
    top:50vh;
    color: #888;
    transform: translate(0, -50%);
    left:-2px;
}
#sidebar-container {
    overflow-y:auto;
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#sidebar .input-group-text,
#view-config .input-group-text{
    background: #fafafa;
    color: #444;
    font-size: 0.8em;
}
#sidebar .input-group-text.function-name{
    font-weight: 700;
    user-select: none;
}
#sidebar .btn-outline-secondary{
    background: #fafafa;
    border: 1px solid #ced4da;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar .pickr {
    max-width: 1.3em;
    max-height: 1.3em;
    position:relative;
    top:-0.21em;
    padding:0;
    left: -7px;
    line-height:1;
}
#sidebar .pickr .pcr-button {
    width: 100%;
    height: 100%;
}
#sidebar .pickr .pcr-button:focus {
    box-shadow: none;
}
#sidebar #function-editor {
    padding: 0.8em;
    overflow-y: auto;
    width: 100%;
}
#sidebar #function-editor .function-del {
    color: #988;
    text-align:center;
}
#sidebar #function-editor .function-del.inactive {
    color: #bebaba;
    cursor:not-allowed
}
#sidebar #function-editor .function-del.inactive:focus {
    box-shadow:none;
}
#sidebar #slider-editor {
    padding: 1em 0.8em;
    width: 100%;
}
#sidebar .slider ion-icon {
    color: #988;
}
#sidebar .slider {
    padding-bottom:0.4em;
}
#sidebar .slider {
    border-top:0;
    position:relative;
    top:-1px;
}
#sidebar #control{
    width: 100%;
}
#sidebar .function-form {
    margin-bottom: 0 !important;
    padding-top: 0.5em;
}
#sidebar .inactive,
#sidebar .input-group-text.inactive.function-name {
    color: #999;
    font-weight: 500;
}
#sidebar #function-editor .input-group.function-tbounds {
    display: none;
    position:relative;
    top: -1px;
}
#marker {
    font-size: 0.9em;
    position: fixed;
    transition: opacity 0.2s ease;
    display: none;
    opacity: 0;
    white-space: pre-line;
    background: #f3f3f3;
    padding: 0.5em 1em;
    user-select: none;
}
#view-config {
    position: fixed;
    top: 3.4em;
    right: 0;
    z-index: 2000;
    padding: 0.6em 0.8em;
    background: #fff;
    max-width: 280px;
    min-width: 280px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display:none;
    opacity:0;
    transition: opacity 0.5s ease;
}
#view-config .row:last-child {
    margin-bottom:0;
}
#slider-editor .row div:first-child {
    padding-left:0;
}
.input-group .form-control.var-bounds-text {
    user-select: none;
    background: #fafafa;
    max-width: 3em;
    padding-left:0; padding-right:0;
    text-align: center;
    line-height: 1.3;
}
#sidebar .slider-bounds .form-control.var-bounds-text {
    max-width: 1.5em;
}
#sidebar .slider-bounds .spacer{
    max-width: 2.5em;
    background: #dfdfdf;
    text-align:center;
}

button.btn > ion-icon {
    position:relative;
    top: 2px;
    padding-right:2px;
}

#sidebar .col-sm-1 {
    padding-left: 5px;
}
#sidebar .col-sm-2, #sidebar .col-sm-3,
#sidebar .col-sm-4, #sidebar .col-sm-5, #sidebar .col-sm-6,
#sidebar .col-sm-7, #sidebar .col-sm-8, #sidebar .col-sm-9 {
    padding-left: 5px;
    padding-right: 5px;
}

label {
    user-select: none;
}
.error-text {
    color: #c88;
    min-height:1.6em;
    width:100%;
    padding-top:0.1em;
    text-align: right;
    font-family:monospace;
    font-size: 13px;
    user-select: none;
}
.error-text small {
    width:100%;
}

#header .toggle-caret {
    font-size: 0.7em;
    color: #8f8f8f;
    top: 1px;
}
#header a.active .toggle-caret { color: #007bff; }
.example {
    font-family: monospace
}
#btn-reset-view-small { margin-left: auto }
@media (max-width: 768px) {
    #sidebar .slider-bounds .spacer{
        display:none;
    }
    #sidebar-dragger,
    #sidebar-dragger.minimize{
        max-width:15px;
        min-width:15px;
    }
    #sidebar-dragger.minimize #sidebar-dragger-label {
        font-size: 18px;
        left:1px;
    }
}
@media(max-width: 575px) {
    #main-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    #sidebar-dragger, #sidebar-dragger.minimize{
        min-height: 20px;
        max-height: 20px;
        min-width: 100%;
        max-width: 100%;
        cursor: ns-resize;
    }
    #sidebar {
        overflow:auto;
        min-width: 100%;
        max-width: 100%;
    }
}
